body {
    background-image: url(./assets/23-6-2021-7ss_generated.jpg);
    background-size: 100%;
    /* background: linear-gradient(to right top, #8f0b31,#3c0014); */
    color: white
}

.titulo {
    color: white;
    margin: 3vh 0;
}

.grupos{
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: solid 1 px rgb(255, 255, 255, 0.5);;

}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

div.grupos {
    /* border: 2px solid white; */
    width: 16vh;
    margin: 5vh 1vh;
    display: inline-block;
    justify-items: center
    
}


table{
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-block;

}
th, td{
    padding: 5px 10px;
    border: 1px solid white;
    justify-content: center;
    font-size: 13px;

}

.tablaGrupos {
    display: inline-block;
    padding: 5vh
}

.grupo {
    display: inline-block;
    margin: 4vh;

    border-radius: 20px;
    border: solid 1 px rgb(255, 255, 255, 0.5);;

}

.tablasPartidos {
    display: flex;
    flex-wrap: wrap;

}

.goles {
    width: 40px;
}

section tr {
    width: 50vh;
}

h3 {
    background-color: white;
    border-radius: 20px 20px 0 0 ;
    color: #8f0b31;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    margin : 0px
}



.grupos li {
    text-align: center;
    border-bottom: 1px solid white;

}

.grupos ul {
    padding: 0 7px
}

a {
    color: white;
}

a .navbar-nav {
    color: white 
}

.navbar-brand {
    color: white;
}

.tablaScroll {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    width: 100%;
}

#tablasPartidosPlayoff {
    display: flex;
    align-items: center;
    justify-content: center;
    width: cover;
    padding: 0 10vh;

}

#tablasPartidosPlayoffProde {
    display: flex;
    align-items: center;
    justify-content: center;
    width: cover;
    padding: 0 5vh;
    
}

#tablasClasifGrupos {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#tablasPartidos {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vh;
    column-gap: 5vh;
}

#tablasClasifGruposProde {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#tablasPartidosProde {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vh;
    column-gap: 5vh;
}


#gruposPrin {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10vh;
}



/* //////////////////////BOTON//////////////// */


.botonrandom{
    width:90px;
    height: 240px;
    position: fixed;
    right:0px;
    bottom:0px;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999999;
  }
  .botonF1{
    width:cover;
    height:60px;
    border-radius:100px;
    background: white;
    right:0;
    bottom:0;
    position:fixed;
    margin-right:10vh;
    margin-bottom:10vh;
    border:none;
    outline:none;
    color:#8f0b31;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;  
  }
  span{
    transition:.5s;  
    padding: 2vh;
  }
  .botonF1:hover span{
    transform:rotate(360deg);
  }
  .botonF1:active{
    transform:scale(1.1);
  }
  .btn{
    width:40px;
    height:40px;
    border-radius:100%;
    border:none;
    color:#8f0b31;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size:28px;
    outline:none;
    position:absolute;
    right:0;
    bottom:0;
    margin-right:26px;
    transform:scale(0);
}

#zonaGrupos {
    display : block;
    justify-content: center;

} 

.grupos {
    cursor: pointer;

}