@font-face {
    font-family: 'qatar';
    src: url('./assets/Qatar2022/Qatar2022Arabic-Bold.ttf');
  }
  


body {
    background-image: url(./assets/23-6-2021-7ss_generated.jpg);
    background-size: 100%;
    /* background: linear-gradient(to right top, #8f0b31,#3c0014); */
    color: white
}

.titulo {
    color: #8f0b31;
    margin: 3vh 0;
    background: white;

}

#woombi{
    font-family: Permanent Marker;
    font-size: 40px;
}

#logo {
    width: 23vh;
    padding-left: 4vh;
}

.grupos{
    display: inline-block;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px 20px 10px 10px ;
    border: solid 1 px rgb(255, 255, 255, 0.5);


}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

div.grupos {
    /* border: 2px solid white; */
    width: 16vh;
    margin: 5vh 1vh;
    display: inline-block;
    justify-items: center

}


table{
    border-collapse: collapse;
    border-spacing: 0;
    display: inline-block;

}
th, td{
    padding: 5px 10px;
    border: 1px solid white;
    justify-content: center;
    font-size: 13px;

}

td .tablaGrupos {
    display: inline-block;
    padding: 2vh
}

.tablaequipo{
    width: 13vh;
}

.grupo {
    display: inline-block;
    margin: 1vh;

    border-radius: 20px;
    border: solid 1 px rgb(255, 255, 255, 0.5);;

}

.tablasPartidos {
    display: flex;
    flex-wrap: wrap;

}

.goles {
    width: 40px;
}


center {
    font-family: qatar;
    padding: 1vh 0;
}

h3 {
    background-color: white;
    border-radius: 20px 20px 0 0 ;
    color: #8f0b31;
    text-align: center;
    font-weight: bolder;
    font-family: qatar ;
    font-size: 20px;
    margin : 0px;
    padding-top : 1vh

}

.container-fluid{
    font-family: qatar;
}

.guardar{
    border-radius: 0 0 20px 20px;
    margin-top: -7px;
    cursor: pointer;
    font-size: 15px;
    font-weight:300;
}


.grupos li {
    text-align: center;
    border-bottom: 1px solid white;

}

.grupos ul {
    padding: 0 7px
}

a {
    color: white;
}

a .navbar-nav {
    color: white
}

.navbar-brand {
    color: white;
}

.tablaScroll {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
    width: 100%;
}

#tablasPartidosPlayoff {
    display: flex;
    align-items: center;
    justify-content: center;
    width: cover;
    padding: 0 10vh;

}

#tablasPartidosPlayoffProde {
    display: flex;
    align-items: center;
    justify-content: center;
    width: cover;
    padding: 0 5vh;
    border:none;
    border-collapse: collapse;

}

#tablasClasifGrupos {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#tablasPartidos {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vh;
    column-gap: 2vh;
}

#tablasClasifGruposProde {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

#tablasPartidosProde {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2vh;
    column-gap: 2vh;


}


#gruposPrin {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10vh;



}



/* //////////////////////BOTON//////////////// */


.botonrandom{
    width:90px;
    height: 240px;
    position: fixed;
    right:0px;
    bottom:0px;

    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999999;
  }
  .botonF1{
    width:cover;
    height:60px;
    border-radius:100px;
    background: rgb(255, 255, 255, 0.9);
    right:0;
    bottom:0;
    position:fixed;
    margin-right:75px;
    margin-bottom:10vh;
    border:none;
    outline:none;
    color:#8f0b31;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
  }
.botones{
    display: block;
    transition:.5s;
    padding: 0 2vh;
  }
  .botonF1:hover span{
    transform:rotate(360deg);
  }
  .botonF1:active{
    transform:scale(1.1);
  }


#zonaGrupos {
    display : block;
    justify-content: center;

}

.grupos {
    cursor: pointer;

}

.botonreset{
    width:90px;
    height: 240px;
    position: fixed;
    right:0px;
    bottom:0px;

    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 9999999;
}
.botonresetF1{
    width:cover;
    height:60px;
    border-radius:100px;
    background: rgb(255, 255, 255, 0.9);
    right:0;
    bottom:0;
    position:fixed;
    margin-right:155px;
    margin-bottom:10vh;
    border:none;
    outline:none;
    color:rgba(130,26,75,255);
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;
}

.botonenviarF1{
    width:cover;
    height:60px;
    border-radius:100px;
    background: rgb(255, 255, 255, 0.9);
    right:0;
    bottom:0;
    position:fixed;
    margin-right:305px;
    margin-bottom:10vh;
    border:none;
    outline:none;
    color:rgba(130,26,75,255);
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition:.3s;

}

#flip {
    display: flex;
    justify-content: center;
}

.flipdown {
    width: fit-content;
}

@media screen and (max-width: 850px) {
    #logo {
        display: none;
    }
    div.grupos {
        margin: 2vh;
    }
    #gruposPrin {
        padding: 0px 6vh;
    }

    .botonenviarF1{
        font-size: 15px;
        height:60px;

        margin-right:177px;
        margin-bottom:10vh;
    }

    .botonresetF1 {
        font-size: 15px;
        height:60px;

        margin-right:77px;
        margin-bottom:10vh;
    }

    .botonF1{
        font-size: 15px;
        height:60px;


        margin-right:0;
        margin-bottom:10vh;
    }

}
#tab{
    display: flex;
}

#tablaprin {
    margin: 0 auto;
    width: fit-content;
    scroll-behavior: auto;
}

.swal-button--confirm {
    background-color: rgba(130,26,75,255);
}

.usupuntos {
    text-align: center;
}

#titulopuntos{
    border-radius: 0 ;

}

#collapse {

    overflow: auto;


    width: 100%;
    height: 400px;
    scroll-behavior: auto;

    transition: all 0.5s;
}

#collapse.show {

    height: 0;
    opacity: 0;

}

.tabusuario {
    width: inherit;
}

#torneogeneral {
    overflow: auto;
    width: 100%;
    height: 307px;
}

#nuevotorneo{
    display: inline-block;
}

#individuales{
    display: flex;
    flex-direction: row-reverse;
}

#nuevotorneo{
    border-radius: 0 0 0 0;

    padding-top: 3px;
    cursor: pointer;
    border: solid rgb(187, 187, 187) 1px;}

/* .tabusuario{
    width: 100%;
} */
section tr {
    width: 100vh;
}

.flechita{
    color: #8f0b31;
    float: right;
    margin-right: 10px;
}